h1,h2 {
	text-align: center;
	color: white;
	text-shadow: green;
}

*{
	box-sizing: border-box;
}

.row {
	display: flex;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.img{
    
	border: 2px solid black;
    width: 50%;
    height:auto;
}

body {
	background-image: url("https://wallpaperset.com/w/full/f/f/3/201138.jpg");
}

